html, body, div, span, object, script, iframe, img, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin: 0pt; padding: 0pt; border: 0px;}
body {color: #000000; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 1em; font-weight: normal;}
.droite {text-align: right;}
.centrer {text-align: center;}
.gauche {text-align: left;}
.justifier {text-align: justify;}
.retour {clear: both;height: 0px;overflow: hidden;}
.surligne {background-color:#FFFF00;}
a {color: #505050;}
#SuperContainer {background: #000000; margin: 5px auto 5px auto; width: 1322px; border: 4px solid #404040; -webkit-border-radius: 7px; border-radius: 7px;}
#bandeauHaut {height: 145px; margin-left: 10px; margin-right: 10px; overflow: hidden;}
.cpcpoweralea {float: right; padding-top:4px; padding-left: 1px;background-image: url("../images/fondalea.gif"); margin: 0px 0px 0px 1px; width: 250px; height: 145px; text-align: center; overflow: hidden;}
.quicksearch {float: left; margin: 95px 0px 0px 480px; width: 350px; height: 30px; text-align: center; overflow: hidden;}
.MenuSite {text-align: center; background-color: #000000; color: #585858;	height: auto; overflow: hidden;}
.MenuSite a:link, .MenuSite a:visited, .MenuSite a:active, .MenuSite a:hover {color: #A9A9A9; margin: 2px 14px 2px 14px;font-weight: bold; font-family: sans-serif; font-variant: small-caps; text-decoration: none;}
.MenuSite a:active, .MenuSite a:hover {background-color: #454545; font-weight: bold; font-family: sans-serif; font-variant: small-caps; text-decoration: none; color: #FFFFFF; margin: 2px 14px 2px 14px;}
.MenuSite a.choix  {color: #FFFFFF;}
.boutonsaccueil a:link, .boutonsaccueil a:visited {background-color: #EFEFEF; color: #000000; border-top: 2px solid #000000; border-bottom: 2px solid #000000; margin: 3px; padding:5px 15px; text-decoration: none; -webkit-border-radius: 5px; border-radius: 5px;}
.boutonsaccueil a:active, .boutonsaccueil a:hover, .boutonsaccueil a.choix {background-color: #000000; color: #EFEFEF; border-top: 2px solid #EFEFEF; border-bottom: 2px solid #EFEFEF;}
/*#Corps3 {background: transparent url("../images/damier_gris2.gif");}*/
#Corps {background-color: #ADAEAD;}
.soustitre {font-weight: bold; font-family: sans-serif; text-transform: uppercase; text-decoration: none; text-align: center; color: #FFFFFF; height: 20px; margin: 2px 10px 2px 10px; padding-top: 4px; background: transparent url("../images/colonnelien.gif"); -webkit-border-radius: 5px;	border-radius: 5px;}
.titre {font-weight: bold; font-family: sans-serif; text-transform: uppercase; text-align: center; font-size: 1.3em; color: #F8F8F8; margin-top: 10px; margin-bottom: 10px; width: 100%; padding-top:4px; height: auto; background-color: #303030; border-top: 4px solid #000000;border-bottom: 4px solid #000000;}
.detailmachine {background-color: #000000; width: 100%; text-align: center; margin-top: 2px; margin-bottom: 2px;}
.paragraphe {margin:5px; padding: 5px; text-align: justify;}
.chassefixe {font-family: monospace;}
.BarreNav {clear: both; text-align: center; margin: 5px auto 0px auto; width: 250px; border-spacing: 0; font-size: 2em;}
.BarrenavChiffre {float: left; color: #0000FF; text-decoration: none;}
.pair {background-color: #CECBCE;}
.impair {background-color: #F7F3F7;}
.damierpair {background-image: url("../images/damier_gris.gif");}
.damierextra {background-image: url("../images/damier_gris2.gif");}
.damierimpair {background-image: url("../images/damier_gris3.gif");}
.bordurehautbas {font-weight: bold; font-family: sans-serif; font-size: 1.6em; text-align: center; text-transform: uppercase; border-left: 4px solid #000000; border-right: 4px solid #000000; border-top: 3px double #000000;border-bottom: 3px double #000000;margin-top: 2px; margin-bottom: 2px; padding-top: 5px; padding-bottom: 2px;}
.g2c {background-color: #303030; color: #FFFFFF; font:bold 1.2em "Verdana", "Arial", "Helvetica", "sans-serif"; text-align: center;}
.top50compseudo {font-weight: bold; font-style: italic; text-align: right; margin-right: 10px;}
.statscomcolwith {width: 68px;}
.picturesextra {margin:5px;	padding: 5px; text-align: center;}
.imagesizeextra{width: 1290px}
#modulerecherchedb {text-align:center; margin-left: auto; margin-right: auto; width: 1310px;}
#modulerecherchestaff fieldset, #modulerecherchedbfieldset {border: 1px solid #0090FF; padding: 4px;}
legend {font-weight: bold; font-size: 0.9em;	font-family: sans-serif; font-variant: small-caps; color: #0090FF; display: none;}
#grandcontenercoche {clear: both; margin-top: 5px; padding: 2px; margin-left: auto; margin-right: auto; width: 1300px;}
.petitcontenercoche {float: left; text-align: left; margin-left: 7px; padding-top: 2px; padding-left: 5px; font-size: 0.9em; margin-bottom: 10px; width: 58px;}
.petitcontenercoche2 {float: left; text-align: center; margin-left: 7px; padding-top: 2px; font-size: 0.9em; margin-bottom: 8px; width: 60px;}
.selectpresentationyesno {width: 40px; font-size: 0.7em; overflow: hidden;}
select.ceffet2 {font-family: monospace; font-size: 0.9em; font-weight: bold; background: #5A595A; color: #FFFFFF;}
.envoyerbdd {background-color: #B1FDBB;font-weight: bold;  -webkit-border-radius: 7px; border-radius: 7px;}
.resetbdd {background-color: #B00000;font-weight: bold;color: #FFFFFF; -webkit-border-radius: 7px; border-radius: 7px;}
#lesliens td {padding: 5px;}
.mondiaporama {text-align: left;margin-top: -3px; margin-bottom: 3px; background-color: #544F47;width: 100%;height:176px;}
.mondiaporama .decordiapo {float: left; background-image: url("../images/diapohorizontale218.gif");width:218px;padding-left:1px;padding-right:1px;height:165px;padding-top:11px;}

.ecranaveczoom {margin-left: 70px;}
.DiapoScreenZoom {float:left; width:390px; padding:7px; margin-right:70px; margin-left:70px; margin-bottom: 7px; background-color:#000000;color: #FFFFFF; text-align: center; border:15px solid #656565; -webkit-border-radius: 7px; border-radius: 7px;}
.minizone {width: 384px; height: 272px; overflow: hidden;}

.DiapoScreen7{text-align:center;}
.DiapoScreen7 img{padding:7px;margin-right:70px;margin-left:70px;margin-bottom: 7px;background-color:#000000;border:15px solid #656565; -webkit-border-radius: 7px; border-radius: 7px;}
.DiapoScreenX {padding:7px;margin:0px 7px 7px 7px; background-color:#000000;border:15px solid #656565; -webkit-border-radius: 7px; border-radius: 7px;}
.DiapoScreenPop {width: 388px;text-align: center;padding:7px;margin:0px 7px 7px 7px; background-color:#000000;border:15px solid #656565; -webkit-border-radius: 7px; border-radius: 7px;}
#DiapoTV input {border: 0; background-color: transparent;}
#DiapoTV fieldset {text-align:center;}
.imgcpc {width: 384px; height: 272px;}
.monitorcpc {float: left; width: 384px; text-align: center; margin-top: -10px; margin-right: 0px; margin-left: 180px; font-weight: bold;}
.monitorcpc2 {float: left; width: 384px; text-align: center; margin-top: -10px; margin-right: 0px; margin-left: 190px; font-weight: bold;}
.clip {background-color: #003060; color: #FFFFFF; Font:bold 12px "Verdana", "Arial", "Helvetica", "sans-serif"; text-align: center; width: 630px; margin: 0px auto 0px auto; -webkit-border-radius: 30px 30px 0px 0px; border-radius: 30px 30px 0px 0px;}
h2 {margin-top: 15px; margin-bottom: 3px; font-size: 1.3em; font-weight: bold; font-family: sans-serif; font-variant: small-caps; text-align: center; color: #FFFFFF; background-image: url("../images/fond_gris_fonce.gif"); border: 1px solid #000000;}
h2.listebdd {margin-top: 0px; margin-bottom: 3px; font-size: 1.3em; font-weight: bold; font-family: sans-serif; font-variant: small-caps; text-align: center; color: #FFFFFF; background-image: url("../images/fond_gris_fonce.gif"); border: 1px solid #003060;}
blockquote {border: 2px dashed #303030; margin: 5px 20px 5px 20px; padding: 5px 10px 5px 10px; background-color: #C0C0C0; display: block; -webkit-border-radius: 7px; border-radius: 7px;}
blockquote li, .blocquotedumpcom li{margin-left: 20px;}
li {margin-left: 20px;}
.blockquotedumppokes {background-color: #0000AA; line-height: 10px; padding: 5px;}
.blocquotedumpcom, .blockquotedumpstructure {background-image: url("../images/damier_gris.gif"); padding: 5px;}
.dumpinfosfiles {background-image: url("../images/damier_gris2.gif"); padding: 5px; -webkit-border-radius: 7px; border-radius: 7px;}
.doctext {font-family: monospace; white-space:pre; padding-top: 20px; padding-left: 25px; padding-right: 10px; padding-bottom: 20px;}
.ascii {font-family: monospace; white-space:pre;}
.onglet {display:inline-block; margin-left:7px; margin-right:7px; padding:7px; border:1px solid #000000; cursor:pointer;}
.onglet_0 {background: gray; border-bottom:1px solid #000000; -webkit-border-radius: 7px 7px 0px 0px; border-radius: 7px 7px 0px 0px;}
.onglet_1 {background: silver; border-bottom:0px solid #000000; padding-bottom:8px; -webkit-border-radius: 7px 7px 0px 0px; border-radius: 7px 7px 0px 0px;}
.contenu_onglet {background-color: SteelBlue; border:1px solid #000000; margin-top:-1px; padding:0px; display:none;}
.pointille {border-top: 1px dashed #808080;}
.menuSession {text-align:left;color:#A00000;width:300px;}
.menuDonation {text-align:right;color:#FFFF00;width:530px;}
.langueactive {background-color:#505050;}
.mondiaporamalisting {text-align: left;margin-top: 0px; margin-bottom: 0px; width: 100%;height:190px;}
.mondiaporamalisting .decordiapolisting {float: left; background-image: url("../images/diapohorizontale218.gif");width:218px;padding-left:1px;height:165px;padding-top:11px;}
.listingcart{float: left; margin:0px; padding: 5px; width: 1310px;}
.listingcartdetail {overflow: hidden; float: right; margin-top: -4px; padding: 5px; width: 1076px; height: 172px;}
.listingcartcat{float: left; width:170px;}
.listingcarttype {float: right; width:100px;}
.listingcartfiche{float: left; width:100px; border:1px dashed black;}
.listingcarttitre{clear:both; float: left; text-align: center; padding-top: 4px; width:565px; height: 134px; background-image: url("../images/damier_gris.gif"); -webkit-border-radius: 0px 0px 7px 7px; border-radius: 0px 0px 7px 7px;}
.listingcarttroiscol{float: right; width:100px; padding:1px; text-align:center; height: 134px; background-image: url("../images/damier_gris.gif"); margin-left:5px; -webkit-border-radius: 0px 0px 7px 7px; border-radius: 0px 0px 7px 7px;}
.listingcarttroiscoldump{float: right; width:130px; padding:1px; text-align:center; height: 134px; background-image: url("../images/damier_gris.gif"); margin-left:5px; -webkit-border-radius: 0px 0px 7px 7px; border-radius: 0px 0px 7px 7px;}
.listingcartdumplang{float: left; width: 20px; height: 134px; overflow:hidden;}
.listingcartdumplang img {float: left;margin: 1px 0px 2px 1px;}
.listingcartdiverstitre {display: block; color: #FFFFFF; background-image: url("../images/colonnelien.gif"); margin-bottom: 2px; text-align: center; width: 100%;font-family: monospace; font-size: 1em; border-bottom: 1px dashed black;}
.listingcartdeuxcol{float: right; width:70px; padding:1px; text-align:center; height: 134px; background-image: url("../images/damier_gris.gif"); margin-left:5px; -webkit-border-radius: 0px 0px 7px 7px; border-radius: 0px 0px 7px 7px;}
.listingcrtc {text-align:left; font-size: 1.1em;}
.zonelistecat {background-color: #000000;}
#modulerecherchesperson {text-align:center; margin-top: -2px;margin-left: auto; margin-right: auto; width: 890px;  -webkit-border-radius: 0px 0px 7px 7px; border-radius: 0px 0px 7px 7px;}
#modulerecherchesperson fieldset {padding: 4px;}

.idnavonglet a {float: left; padding: 0px 4px 0px 4px; margin: 1px 0px 0px 4px; height: 18px; border-width: 0px; display: block; width: auto; text-align: center; font-weight: bold; text-decoration: none; color: #FFFFFF; background: transparent url("../images/menu0.gif") 0 center;  -webkit-border-radius: 7px; border-radius: 7px;}
.idnavonglet a.choix {display: block; background-color: #003060; color: #000000; background: transparent url("../images/menu1.gif") 0 center;}
.idnavonglet a:hover, .idnavonglet a:active { display: block; background-color: #003060; color: #000000;	background: transparent url("../images/menu1.gif") 0 center;}

.bullevolante {position: absolute; visibility: hidden;}

#cartouche_info {width: 1295px; margin-left:auto; margin-right:auto; overflow: hidden;}
#cartouche_tabnav  {width: 1285px; padding: 0px 0px 0px 5px; margin: 0px;}
#cartouche_tabnav a  {float: left; display: block; margin: 2px 2px 0px 2px; border-bottom: 8px solid #404040; text-decoration: none; padding: 4px 2px 4px 2px;}
#cartouche_tabnav a.courant {border-bottom: 8px solid #FFC000; background-image: url("../images/damier_gris2.gif"); -webkit-border-radius: 7px 7px 0px 0px; border-radius: 7px 7px 0px 0px;}	
#cartouche_tabnav a:hover {border-bottom: 8px solid #FFFF00;}
#cartouche_texte {clear: both; width: 1290px; padding: 0px 0px 5px 0px; background-color: #FFFFFF; border: 2px solid #000000; -webkit-border-radius: 0px 0px 7px 7px; border-radius: 0px 0px 7px 7px;}
#cartouche_titre {text-align: center; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 1.1em; font-weight: bold; font-variant: small-caps; background-color:#000000; color: #FFFF00; padding-top:4px; padding-bottom: 4px;}
#cartouche_alias{float: left; width: 1150px; text-align: center; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 1em; font-weight: bold; font-variant: small-caps; color: #000000;}
.flottedroite{float: right;}
.flottegauche{float: left;}
.cartouche_logo_machine {width: 60px; text-align:center; margin: 0px; padding: 0px;}
#evaluation {float: right; text-align: right; margin-right: 5px; width: 250px; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 1.1em; color: #FFFFFF;}
#cartouche_categorie {float: left; text-align: left; margin-top:0px; margin-left:5px; margin-bottom:0px; width: 290px;}
#cartouche_categorie img {margin-right: 5px;}
.TestPerso {text-align: justify; padding-right: 10px; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 1.2em;}
.TestimageGauche {float:left; width: 273px; height: 204px; padding: 5px 5px 0px 5px;}
.TestimageDroite {float:right; width: 273px; height: 204px; padding: 5px 5px 0px 5px;}
.TestNotesGeneral {clear: both; float: right; width: 150px; background-color:#B5DFFF; border-top: none; border: 1px solid #808080; padding: 5px 5px 0px 5px; margin-left: 5px;}
.TestNotesMilieu {padding: 0px 30px 15px 5px; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 1.3em; font-weight: bold; text-align: right;}
.TestNotesTitres, .TestNotesBas {background-color: #66B1DE; color: #FFFFFF; text-align: center;	border: 1px solid #808080; font-variant: small-caps;}
.TestNotesBasFont {display:block; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 2.8em; font-weight: bold; text-align: center; margin: 0px; padding: 0px;}
.admindocsalert {width: auto; text-align: center; background-color: #FF0000; color: #FFFF00; font-weight: bold; margin-left:5px; margin-right: 5px;}
.admindocok {width: auto; text-align: center; background-color: #008000; color: #FFFFFF; font-weight: bold; margin-left:5px; margin-right: 5px;}
#PiedDePage {text-align:center; background-color:#000000; color: #FFFFFF; padding-top: 3px; padding-bottom: 3px;}

#afftop {position:fixed; width:22px; height:60px; right:-50px; bottom:15px; overflow:hidden; z-index:9;}
